<% include partials/header %>
<div class="index">
    <div class="body container">
        <div class="row">
            <div class="one-half column" style="margin-top: 10%">
                <a href="#"><h6><i class="fa fa-lightbulb-o"></i> WHAT'S HAPPENING</h6></a><br>
                <a href="workshops.html"><h6><i class="fa fa-star-o"></i> ZOKU INSPIRE</h6></a><br>
                <a href="#"><h6><i class="fa fa-map-o"></i> ZOKU LOCAL</h6></a><br>
                <a href="#"><h6><i class="fa fa-wrench"></i> SERVICES &amp; EXTRA'S</h6></a><br>
                <a href="#"><h6><i class="fa fa-home"></i> MY LOFT GUIDE</h6></a><br>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
